.card {
	background-color: #e6e6e6;
	box-shadow: 1px 1px 2px 2px red;
}

.card:hover {
	transform: scale(1.01);
}

.fas, .far {
	color: #b30000;
}

i {
	margin-top: 25px;
}

.media-content {
	margin-bottom: 25px;
	text-align: center;
}