.card {
	background-color: #e6e6e6;
	margin: 100px 10px;
	padding: 20px;
	border: 1.5px;
	border-color: red;
	border-style: groove;
}

.card:hover {
	transform: scale(1.01);
	box-shadow: 0 0 5px 1px #b00;
}

.fas, .far {
	color: #b30000;
}

.media-content {
	margin-bottom: 25px;
	text-align: center;
}