.navbar {
	background-color: black;
}

.navbar-end a:hover {
	background-color: #262626;
	color: red;
	text-shadow: 1px 1px 4px red;
}

.navbar-item {
	padding-left: 25px;
	padding-right: 25px;
}

.border:hover {
	box-shadow: 0 1px 5px 1px #b00;
}